html, body {
    height: 100%;
    width: 100%;
    margin: 0;

    background-color: #3C3C3C;
}

h1, h2, h3 {
    margin: 0.5rem 0;
    font-weight: 300;
    font-family: 'Srbija Sans';
}

h1 {
    font-size: 2rem;
}

h2, h3 {
    font-size: 1.5rem;
}

p {
    margin: 0.5rem 0;
    font-weight: 100;
    font-family: 'NAMU';
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    color: white;
}

@media screen and (min-width: 571px) {
    main {
        min-width: 400px;
    }
}

@media screen and (max-width: 570px) {
    main {
        margin: 0 auto;
        min-width: 312px;
    }
}

